doctype html
html(data-ng-app="app")
  head
    title SMS-Messages SPA 
    link(rel="stylesheet", type="text/css," href="./styles/base.css")	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js")	script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.js")
	script(src="./msg-app/app.js")
  body
    div(data-ng-view="")